.navigation__list {

  @media screen and (max-width: 991px) {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    background-color: #fff;
    border: 1px solid $main_color;
    transform: translateY(-400px);
    overflow: hidden;
    transition: transform 300ms ease-in-out;
  }

  &.is-open {
    transform: translateY(50px);
  }

  @media screen and (min-width: 992px) {
    display: flex;
    margin-left: 167px;
  }

  @media screen and (min-width: 1300px) {
    margin-left: 253px;
  }
}

.navigation__item {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
}

.navigation__link {
  padding-top: 25px;
  padding-bottom: 25px;

  color: $button_bgcolor;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $button_bgcolor;
    transform: scaleX(0);
    transform-origin: top left;

    transition: transform 300ms;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: $button_bgcolor;
    transform: scaleX(0);
    transform-origin: bottom right;

    transition: transform 300ms;
  }

  &:hover,
  &:focus {
    color: $main_color;
    &:before {
      transform: scaleX(1);
    }

    &:after {
      transform: scaleX(1);
    }
  }

  @media screen and (min-width: 1300px) {
    font-size: 20px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 20px;
}

.desktop__button {
  display: none;
  width: 160px;
  height: 50px;
  margin-left: auto;
  border-radius: 5px;
  border-color: $button_bgcolor;
  cursor: pointer;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 5;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

  &:hover,
  &:focus {
    background-color: $button_bgcolor;
    border-color: transparent;
    color: #ffffff;
  }

  @media screen and (min-width: 992px) {
    display: inline-block;
  }

  @media screen and (min-width: 1300px) {
    width: 220px;
    height: 70px;
  }
}

.header {
  position: relative;
  display: flex;
  width: 100%;
  padding: 15px 15px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 2;

  @media screen and (min-width: 992px) {
    justify-content: start;
  }
}

.mobile__button {
  display: inline-block;
  // width: 34px;
  // height: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  // margin-left: auto;

  & .icon__cross {
    display: none;
  }

  &.is-open .icon__cross {
    display: block;
  }

  &.is-open .icon__menu {
    display: none;
  }

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.logo {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: $secondary_color;

  &--ending {
    color: $logo_ending_color;
  }

  @media screen and (min-width: 575px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1300px) {
    font-size: 35px;
  }
}
